name: Sync Upstream Tags (Releases)

permissions:
  contents: write
  workflows: write

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  sync-tags:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch and Push Upstream Tags
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

          git remote add upstream https://github.com/rustdesk/rustdesk.git

          git fetch upstream --tags

          git push origin --tags
